/* Start Of Globale Styles */

@font-face {
  font-family: headerFont;
  src: url(./fonts/F25_Executive/F25_Executive.otf);
}

@font-face {
  font-family: textFont;
  src: url(./fonts/Quicksand-Font/Quicksand_Light.otf);
}

html,
* {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  margin: 10em 0 10em 5.5em;
  padding: 0;
  width: 100%;
  height: 100vh;
  background: #000000;
  display: block;
  align-items: center;
}

/* End Of Globale Styles */

#mainContainer {
  width: 90%;
  height: 70vh !important;
  background: rgb(44, 44, 129);
  background: linear-gradient(
    0deg,
    rgba(44, 44, 129, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  margin-right: 15em;
  margin-left: 0;
  padding: 2em;
  display: flex;
  justify-content: space-between;
  color: rgb(57, 56, 56);
  border-radius: 20px;
}

.title {
  color: #fff;
  font-family: "textFont";
  text-align: center;
  font-size: 2em;
  padding-right: 10em;
  background: #cfcfcf;
  background: -webkit-linear-gradient(to right, #cfcfcf 0%, #000000 83%);
  background: -moz-linear-gradient(to right, #cfcfcf 0%, #000000 83%);
  background: linear-gradient(to right, #cfcfcf 0%, #000000 83%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.box {
  width: 50%;
  height: 60vh !important;
  background: #f6fafb;
  padding: 2em;
  margin: 2em;
  border-radius: 20px;
  font-family: "textFont";
  font-size: 0.9em;
  text-align: center;
  padding: 2em 2em 1em 2em;
  line-height: 1.4em;
}

.box h4 {
  font-family: "headerFont";
  padding-bottom: 2em;
  text-align: center;
  font-size: 2.5em;
  padding-top: 2em;
  color: rgb(57, 56, 56);
}

.box img {
  display: flex;
  justify-content: center;
  padding: 0;
  margin-top: 2em;
  margin-bottom: 2em;
}

.box button {
  margin-top: 2em;
  display: flex;
  padding: 0.5em 4.5em 0.5em 4.5em;
  background: rgb(97, 184, 247);
  color: #000;
  font-family: "textFont";
  font-size: 1.3em;
  border: none;
  border-radius: 20px;
}

#first_btn {
  margin-top: 3em;
  display: flex;
  padding: 0.5em 4.5em 0.5em 4.5em;
  background: rgb(97, 184, 247);
  color: #000;
  font-family: "textFont";
  font-size: 1.3em;
  border: none;
  border-radius: 20px;
}

/* Btn Hover Styles Section */

.box button:hover {
  color: #000;
  background: #76d2e9;
  transition: all 0.5s ease;
  padding: 0.6em;
}

#first_btn:hover {
  color: #000;
  background: #76d2e9;
  transition: all 0.5s ease;
  padding: 0.6em;
}
/* Btn Hover Styles Section */
